<div class="m-portlet__body">
    <div class="form-group m-form__group row">
        <div class="col-lg-6">
            <label class="col-form-label col-sm-12">
              Demande manuscrite
            </label>
            <div class="m-dropzone  m-dropzone--primary " action="/uploadForm/1" >
                   Files go here
            </div>
        </div>
        <div class="col-lg-6">
            <label class="col-form-label col-sm-12">
                Attestation du travail
            </label>
            <div class="m-dropzone dropzone m-dropzone--primary dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-6">

            <label class="col-form-label col-sm-12">
                Copie du diplôme de doctorat d’Etat :
            </label>
            <div class="m-dropzone dropzone  m-dropzone--success dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
        <div class="col-lg-6">
            <label class="col-form-label col-sm-12">
                Copie de l’attestation d’équivalence (dans le cas d’un diplôme étranger) :
            </label>
            <div class="m-dropzone dropzone m-dropzone--success dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-6">

            <label class="col-form-label col-sm-12">
                Copie de l’arrêté de maître de conférences classe A :
            </label>
            <div class="m-dropzone dropzone  m-dropzone--warning dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
        <div class="col-lg-6">

            <label class="col-form-label col-sm-12">
                CURRICULUM VITAE DÉTAILLÉ            </label>
            <div class="m-dropzone dropzone m-dropzone--warning  dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <div class="col-lg-6">

            <label class="col-form-label col-sm-12">
                Copies des décrets et/ou des arrêtés de nomination à des fonctions ou postes supérieurs :
            </label>
            <div class="m-dropzone dropzone  m-dropzone--info dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
        <div class="col-lg-6">

            <label class="col-form-label col-sm-12">
                Copie de la thèse de Doctorat :
            </label>
            <div class="m-dropzone dropzone m-dropzone--info dz-clickable" action="/uploadForm/1" >

            </div>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions m-form__actions--right">
            <button type="reset" class="btn btn-success ">
                CONFIRMER
            </button>
            <button type="reset" class="btn btn-secondary">
                Cancel
            </button>
        </div>
    </div>
</div>

