<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                                                    <span class="m-portlet__head-icon m--hide">
                                                        <i class="la la-gear"></i>
                                                    </span>
                <h3 class="m-portlet__head-text">
                    Activités pédagogiques
                </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    <form class="m-form">
        <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">


                <div id="m_repeater_1">
                    <div class="form-group  m-form__group row">
                        <label class="col-lg-3 col-form-label">
                            Années d'enseignement en premier cycle
                        </label>
                        <div data-repeater-list="" class="col-lg-9">
                            <div data-repeater-item="" class="row m--margin-bottom-10">
                                <div class="col-lg-6">

                                    <select class="form-control m-input m-input--air" name="etablissement">
                                        <option>Etablissement 1</option>
                                        <option>Etablissement 2</option>
                                        <option>Etablissement 3</option>
                                        <option>Etablissement 4</option>
                                        <option>Etablissement 5</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-danger" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" data-repeater-delete="" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                        <i class="la la-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col">
                            <div data-repeater-create="" class="btn btn btn-primary m-btn m-btn--icon">
                                                                    <span>
                                                                        <i class="la la-plus"></i>
                                                                        <span>
                                                                            Add
                                                                        </span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
                <div id="m_repeater_2">
                    <div class="form-group  m-form__group row">
                        <label class="col-lg-3 col-form-label">
                            Années d'enseignement en graduation
                        </label>
                        <div data-repeater-list="" class="col-lg-9">
                            <div data-repeater-item="" class="row m--margin-bottom-10">
                                <div class="col-lg-6">

                                    <select class="form-control m-input m-input--air" name="etablissement">
                                        <option>Etablissement 1</option>
                                        <option>Etablissement 2</option>
                                        <option>Etablissement 3</option>
                                        <option>Etablissement 4</option>
                                        <option>Etablissement 5</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-danger" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" data-repeater-delete="" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                        <i class="la la-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col">
                            <div data-repeater-create="" class="btn btn btn-primary m-btn m-btn--icon">
                                                                    <span>
                                                                        <i class="la la-plus"></i>
                                                                        <span>
                                                                            Add
                                                                        </span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
                <div id="m_repeater_3">
                    <div class="form-group  m-form__group row">
                        <label class="col-lg-3 col-form-label">
                            Années d'enseignement en second cycle (master)
                        </label>
                        <div data-repeater-list="" class="col-lg-9">
                            <div data-repeater-item="" class="row m--margin-bottom-10">
                                <div class="col-lg-6">

                                    <select class="form-control m-input m-input--air" name="etablissement">
                                        <option>Etablissement 1</option>
                                        <option>Etablissement 2</option>
                                        <option>Etablissement 3</option>
                                        <option>Etablissement 4</option>
                                        <option>Etablissement 5</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-danger" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" data-repeater-delete="" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                        <i class="la la-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col">
                            <div data-repeater-create="" class="btn btn btn-primary m-btn m-btn--icon">
                                                                    <span>
                                                                        <i class="la la-plus"></i>
                                                                        <span>
                                                                            Add
                                                                        </span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
                <div id="m_repeater_4">
                    <div class="form-group  m-form__group row">
                        <label class="col-lg-3 col-form-label">
                            Années d'enseignement en post-graduation
                        </label>
                        <div data-repeater-list="" class="col-lg-9">
                            <div data-repeater-item="" class="row m--margin-bottom-10">
                                <div class="col-lg-6">
                                    <select class="form-control m-input m-input--air" name="etablissement">
                                        <option>Etablissement 1</option>
                                        <option>Etablissement 2</option>
                                        <option>Etablissement 3</option>
                                        <option>Etablissement 4</option>
                                        <option>Etablissement 5</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-danger" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" data-repeater-delete="" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                        <i class="la la-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col">
                            <div data-repeater-create="" class="btn btn btn-primary m-btn m-btn--icon">
                                                                    <span>
                                                                        <i class="la la-plus"></i>
                                                                        <span>
                                                                            Add
                                                                        </span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button type="reset" class="btn btn-accent m-btn m-btn--pill m-btn--air">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-secondary m-btn m-btn--pill m-btn--air">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>